<a href="https://colab.research.google.com/github/HagarAboSamra/AD-click/blob/main/AD_click.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install opendatasets

Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl.metadata (9.2 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from opendatasets) (4.67.1)
Requirement already satisfied: kaggle in /usr/local/lib/python3.12/dist-packages (from opendatasets) (1.7.4.5)
Requirement already satisfied: click in /usr/local/lib/python3.12/dist-packages (from opendatasets) (8.3.1)
Requirement already satisfied: bleach in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (6.3.0)
Requirement already satisfied: certifi>=14.05.14 in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (2026.1.4)
Requirement already satisfied: charset-normalizer in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (3.4.4)
Requirement already satisfied: idna in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (3.11)
Requirement already satisfied: protobuf in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (5.29.5)
Requirement already satisfied: python-dateutil>=2.5.3 in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (2.9.0.post0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (8.0.4)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (2.32.4)
Requirement already satisfied: setuptools>=21.0.0 in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (75.2.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (1.17.0)
Requirement already satisfied: text-unidecode in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (1.3)
Requirement already satisfied: urllib3>=1.15.1 in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (2.5.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (0.5.1)
Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.22

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import opendatasets as od
import os

In [3]:
dataset_url = 'https://www.kaggle.com/datasets/pavansanagapati/ad-displayclick-data-on-taobaocom'
od.download(dataset_url)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: hajar00
Your Kaggle Key: ··········
Dataset URL: https://www.kaggle.com/datasets/pavansanagapati/ad-displayclick-data-on-taobaocom
Downloading ad-displayclick-data-on-taobaocom.zip to ./ad-displayclick-data-on-taobaocom

100%|██████████| 250M/250M [00:00<00:00, 859MB/s]

In [4]:
# List the contents of the downloaded directory
# Adjust the path if the dataset name is different after download
!ls -F 'ad-displayclick-data-on-taobaocom'

ad_feature.csv	raw_sample.csv	user_profile.csv

### Info for `raw_sample_df`

In [8]:
raw_sample_df = pd.read_csv('ad-displayclick-data-on-taobaocom/raw_sample.csv')
raw_sample_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26557961 entries, 0 to 26557960
Data columns (total 6 columns):
 #   Column      Dtype
---  ------      -----
 0   user        int64
 1   time_stamp  int64
 2   adgroup_id  int64
 3   pid         object
 4   nonclk      int64
 5   clk         int64
dtypes: int64(5), object(1)
memory usage: 1.2+ GB

### Displaying `raw_sample.csv`

In [5]:
display(raw_sample_df.head())

     user  time_stamp  adgroup_id          pid  nonclk  clk
0  581738  1494137644           1  430548_1007       1    0
1  449818  1494638778           3  430548_1007       1    0
2  914836  1494650879           4  430548_1007       1    0
3  914836  1494651029           5  430548_1007       1    0
4  399907  1494302958           8  430548_1007       1    0

### Info for `ad_feature_df`

In [9]:
ad_feature_df = pd.read_csv('ad-displayclick-data-on-taobaocom/ad_feature.csv')
ad_feature_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 846811 entries, 0 to 846810
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   adgroup_id   846811 non-null  int64
 1   cate_id      846811 non-null  int64
 2   campaign_id  846811 non-null  int64
 3   customer     846811 non-null  int64
 4   brand        600481 non-null  float64
 5   price        846811 non-null  float64
dtypes: float64(2), int64(4)
memory usage: 38.8 MB

### Displaying `ad_feature.csv`

In [6]:
display(ad_feature_df.head())

   adgroup_id  cate_id  campaign_id  customer     brand   price
0       63133     6406        83237         1   95471.0  170.00
1      313401     6406        83237         1   87331.0  199.00
2      248909      392        83237         1   32233.0   38.00
3      208458      392        83237         1  174374.0  139.00
4      110847     7211       135256         2  145952.0   32.99

### Info for `user_profile_df`

In [10]:
user_profile_df = pd.read_csv('ad-displayclick-data-on-taobaocom/user_profile.csv')
user_profile_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1061768 entries, 0 to 1061767
Data columns (total 9 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   userid                 1061768 non-null  int64
 1   cms_segid              1061768 non-null  int64
 2   cms_group_id           1061768 non-null  int64
 3   final_gender_code      1061768 non-null  int64
 4   age_level              1061768 non-null  int64
 5   pvalue_level           485851 non-null   float64
 6   shopping_level         1061768 non-null  int64
 7   occupation             1061768 non-null  int64
 8   new_user_class_level   716848 non-null   float64
dtypes: float64(2), int64(7)
memory usage: 72.9 MB

### Displaying `user_profile.csv`

In [7]:
display(user_profile_df.head())

,userid,cms_segid,cms_group_id,final_gender_code,age_level,pvalue_level,shopping_level,occupation,new_user_class_level
0,234,0,5,2,5,NaN,3,0,3.0
1,523,5,2,2,2,1.0,3,1,2.0
2,612,0,8,1,2,2.0,3,0,NaN
3,1670,0,4,2,4,NaN,1,0,NaN
4,2545,0,10,1,4,NaN,3,0,NaN